@import "tailwindcss";

@theme {
  --color-contrast: #252835;
  --color-background: #2A2D3D;
  --color-accent: #739BB6;
  --color-purple: #BF94E3;
  --color-red: #EC6477;
  --color-green: #BCD78F;
}

body {
  color: var(--color-white);
  background: var(--color-background);
}
