@import 'tailwindcss';

@theme {
  --color-contrast: #252835;
  --color-background: #2a2d3d;
  --color-accent: #739bb6;
  --color-purple: #bf94e3;
  --color-red: #ec6477;
  --color-green: #bcd78f;
}

html {
  scrollbar-width: none;
}

body {
  color: var(--color-white);
  background: var(--color-background);
}
