@import "tailwindcss";

@theme {
  --color-contrast: #252835;
  --color-background: #2A2D3D;
  --color-accent: #739BB6;
  --color-purple: #BF94E3;
  --color-red: #EC6477;
  --color-green: #BCD78F;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 42, 45, 61;
  --background-end-rgb: 42, 45, 61;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
